sudo: required
services:
  - docker

before_install:
  - docker build -t dbraben/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run dbraben/react-test npm test -- --coverage


after_success:
  - docker build -t dbraben/multi-client ./client
  - docker build -t dbraben/multi-nginx ./nginx
  - docker build -t dbraben/multi-server ./server
  - docker build -t dbraben/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

  - docker push dbraben/multi-client
  - docker push dbraben/multi-nginx
  - docker push dbraben/multi-server
  - docker push dbraben/multi-worker

